body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr {
  padding-top: 50px;
  border-style: none;
  border-top-style: dotted;
  border-color: #B2B2B2;
  border-width: 8px;
  width: 4%;
}
h1{
  color: #B73E3E;
  font-size: 7rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
}
h2{
  color: #B73E3E;
  font-size: 2rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
}
p{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: #393E46;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #E97777;
}


.top_container{
  position: relative;
  padding-top: 200px;
  background-color: #FA9494;
  margin-bottom: 55px;
}

.middle-container{
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 55px;
}

.bottom-container{
  position: relative;
  background-color: #FA9494;
  margin-top: 50px auto 0px auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.profile{
  padding-bottom: 100px;
}


.skills{
  padding-top: 50px;
  padding-bottom: 40px;
}

.skill-desc{
  padding-bottom: 50px;
}

.btn{
  padding-top: 50px;
  width: 10%
}

.footer-link{
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2rem;
  color: #A10035;
}
.skill-row{
  text-align: left;
  width: 50%;
  margin: 70px auto auto auto;
}

.contact-desc{
  padding-bottom: 50px;
}

.pro{
  text-decoration: underline;
}
span{
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}

.bottom_cloud{
  position: absolute;
  left: 20%;
  bottom: 300px;
}
.top_cloud{
  position: absolute;
  right: 30%;
  top: 150px;
}

.contact-me{
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 35px auto auto auto;
  width: 45%;
}

.profile-img{
  width: 10%;
}

.photography-img{
  width: 19%;
  float: right;
  margin-left: 40px;
}

.code-img{
  width: 20%;
  float: left;
  margin-right: 40px;
  padding-bottom: 50px;
}
