body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #B2B2B2;
  border-width: 8px;
  width: 4%;
  margin: 100px auto;
}
h1{
  color: #B73E3E;
  font-size: 7rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
}
h2{
  color: #E97777;
  font-size: 2rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
}
p{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: #393E46;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #B73E3E;
}


.top_container{
  position: relative;
  padding-top: 200px;
  background-color: #FFD1D1;
  margin-bottom: 55px;
}

.middle-container{
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 55px;
}

.bottom-container{
  background-color: #FFD1D1;
  padding: 50px 0 30px;
  text-decoration: none;
}

.profile{}

.skills{}

.skill-desc{}

.contact-me{
  padding-bottom: 40px;
  line-height: 2;
  margin: auto;
}

.btn{
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #950101;
}

.btn:hover {
  background: #FF4A4A;
  background-image: -webkit-linear-gradient(top, #FF4A4A, #FF4A4A);
  background-image: -moz-linear-gradient(top, #FF4A4A, #FF4A4A);
  background-image: -ms-linear-gradient(top, #FF4A4A, #FF4A4A);
  background-image: -o-linear-gradient(top, #FF4A4A, #FF4A4A);
  background-image: linear-gradient(to bottom, #FF4A4A, #FF4A4A);
  color: #ffffff;
  text-decoration: none;
}

.footer-link{
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #A10035;
}

a:hover{
  color: #EAF6F6;
}

.skill-row{
  text-align: left;
  width: 50%;
  margin: 70px auto auto auto;
}

.contact-desc{
  width: 30%;
  margin: 40px auto 60px;
  padding-bottom: 50px;
}

.copyright{
  font-size: 0.85rem;
  padding: 20px 0;
}

.pro{
  text-decoration: underline;
}
span{
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}

.bottom_cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top_cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile-img{
  width: 10%;
}

.photography-img{
  width: 20%;
  float: right;
  margin-left: 40px;
}

.code-img{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 40px;
}
